html, body {
    padding: 0%;
    margin: 0%;
    height: 100%;
    font-size: 100%;
}

header {
    max-height: 100%;
    max-width: 100%;
    background-color: cornflowerblue;
    padding: 0.5%;
}

header > div {
    display: flex;
    overflow: hidden;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

header > div > div {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    font-weight:bold;
}

header > div > div > a:link, a:visited {
    color: blue;
    text-decoration: none;
}