<h1>Statistics Page</h1>
<div class="card-container">
    <div class="content" role="main">
        <div class="card">
            <!-- // make this links url_for in the backend  -->
            <p><a class="card" href="">Daily Visits</a></p> <!-- // daily visits from database -->
            <p><a class="card" href="">Monthly Visits</a></p> <!-- // monthly visits, need admin info for this? -->
            <p><a class="card" href="">Database Storage: {{data}}</a></p> <!-- // database storage -->
            <p><a class="card" href="">Upload History</a></p>   <!-- // upload history, need admin info for this? -->
        </div> 
    </div>
</div>
