#menu-icon {
    position: fixed;
    width: 100px;
    height: 100px;
    z-index: 1;
}

#menu-icon div {
    width: 50%;
    height: 50%;
    margin: 25%;
}

#menu-icon img {
    width: 100%;
    height: 100%;
}

#menu-label {
    position: fixed;
    width: 400px;
    height: 100px;
    margin-left: 100px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

#menu-label > div {
    height: 100%;
    width: 100%;
    display: flex; /* Add display: flex to the child div */
    align-items: center; /* Align the content vertically center */
    font-size: 50px;
    font-weight: bold;
}

#menu {
    position: fixed;
    padding-top: 100px; /* keep away from button */
    width: 500px;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    background-color: coral;
    visibility: hidden;
}

#menu > div {
    overflow-y: scroll;
}

#menu > div > div {
    width: calc(96% - 2rem);
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1rem;
    padding: 0rem 1rem 1rem 1rem;
    background-color:beige;
    display: flex;
    flex-direction: column;
}

#menu > div > div > div {
    border-style: solid;
    padding: 1rem;
}