#menu-icon {
    position: fixed;
    width: 100px;
    height: 100px;
    z-index: 1;
}

#menu-icon div {
    width: 50%;
    height: 50%;
    margin: 25%;
}

#menu-icon img {
    width: 100%;
    height: 100%;
}

#menu {
    position: fixed;
    padding-top: 100px; /* keep away from button */
    width: 500px;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    background-color: darkturquoise;
    visibility: hidden;
}

#menu > div {
    overflow-y: scroll;
}

#menu > div > div {
    width: calc(96% - 2rem);
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1rem;
    padding: 0rem 1rem 1rem 1rem;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

#menu > div > div > div {
    background-color:azure;
    padding: 1rem;
}