<div class="toolbar" role="banner">
  <a [routerLink]="'/home'">
  <img
  width="120"
  alt="Boehringer Logo"
  src="https://www.boehringer-ingelheim.com/sites/default/files/2021-10/logo-primary-contrast.svg"/>
  </a>
  <span style="margin-left: 1%;"><h3>Solubility Data Management</h3></span>
  <div class="spacer">
    <ul class="nav-links">
      <li [routerLinkActive]="['active']"><a [routerLink]="'/upload'">Upload</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="'/search'">Search</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="'/stats'">Statistics</a></li>
    </ul>
  </div>
</div>
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
