<h1>View Page</h1>
<div>
    <div #normalSearch></div>
    <div #advancedSearch></div>
</div>

<table *ngIf="tableData.length > 0">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Project Name</th>
            <th>Scientist Name</th>
            <th>Compound Name</th>
            <th>Molecular Weight</th>
            <th>Solid Form</th>
            <th>Melting Temperature</th>
            <th>Fusion Enthalpy</th>
            <th>Solvent 1</th>
            <th>Solvent 2</th>
            <th>Solvent 3</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of tableData">
            <td>{{ item.fileName }}</td>
            <td>{{ item.projectName }}</td>
            <td>{{ item.scientistName }}</td>
            <td>{{ item.compoundName }}</td>
            <td>{{ item.moleculearWeight }}</td>
            <td>{{ item.solidForm }}</td>
            <td>{{ item.tMelt }}</td>
            <td>{{ item.fusionEnthalpy }}</td>
            <td>{{ item.solvent1 }}</td>
            <td>{{ item.solvent2 }}</td>
            <td>{{ item.solvent3 }}</td>
        </tr>
    </tbody>
</table>