<h1>View Page</h1>
<div>
    <div #normalSearch></div>
    <div #advancedSearch></div>
</div>

<p><a href="https://material.angular.io/components/progress-bar/overview" target="_blank">Material Progress Bar Overview</a></p>
<p><a href="https://material.angular.io/components/progress-spinner/overview" target="_blank">Material Progress Spinner Overview</a></p>
<p><a href="https://material.angular.io/components/slider/overview" target="_blank">Material Slider Overview</a></p>
<p><a href="https://material.angular.io/components/slide-toggle/overview" target="_blank">Material Slide-Toggle Overview</a></p>
<img src="assets/images/StatsExample.jpeg" width="400px">
