<!DOCTYPE html>
<html>
    <head>
        <title>Solubility Data Management - Statistics</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
    </head>
    <body>
        <header class="important-text">
            Solubility Data Management - Statistics
        </header>
        <div class="content">
            <!-- Content specific to the Statistics page goes here -->
        </div>
        <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
    </body>
</html>