.filter-div {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center vertically */
}

.filter-div button {
    height: auto; /* Override the height property to adjust according to content */
}

.solvent-filters {
    display: block; /* Use flexbox */
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
}

.start-invisible {
    display: none;
}

button {
    font-family: var(--mdc-typography-button-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
    font-size: var(--mdc-typography-button-font-size, 14px);
    cursor: pointer;
}

.round-button {
    border-radius: 10px;
    border: 0px;
}

.give-me-room {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.filter-buttons {
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    border: none;
}

/** adjust search button and search input */
.search-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #055c33;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

.search-input:focus {
    outline: #034426;
}

.search-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #034426;
    font-size: 14px;
    margin-top: 1rem;
}

.search-button:hover {
    background-color: #034426;
    color: white;
}


.light-green-background {
    background-color: rgb(138, 214, 172);
}

.light-yellow-background {
    background-color: rgb(233, 232, 171);
}

.light-yellow-background:hover {
    background-color: rgb(148, 147, 85);
}

.search-button {
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    font-size: 16px;
    border: none;
}

.search-button:hover {
    background-color: #246346;
    color: #ffffff;
}

.delete-div {
    width: 30px;
    height: 40px;
}

.delete-button {
    background-color: rgb(255, 158, 158);
    padding: 1.1rem;
    margin-bottom: 1.3rem;
    margin-right: 0.3rem;
}

.delete-button:hover {
    background-color: rgb(255, 0, 0);
}

.bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.bottom-right > button {
    background-color: rgb(255, 158, 158);
    padding: 1.1rem;
}