
  
<div class="content" role="main">
    <!-- Resources -->
    <h1 class="title">Solubility Data Management</h1>
    <!-- <p class="slogan">Upload. Edit. View.</p> -->
  
    <div class="card-container">
      <a class="card" [routerLink]="['/upload']">
        <img class="side-icon" src="assets/icons/UploadSimple.png" alt="UploadSimple" width="24" height="24">
        <span>Upload</span>
      </a>
      <!-- <a class="card" [routerLink]="['/edit']">
        <img class="side-icon" src="assets/icons/NotePencil.png" alt="NotePencil" width="24" height="24">
        <span>Edit</span>
      </a> -->
      <a class="card" [routerLink]="['/view']">
        <img class="side-icon" src="assets/icons/search_icon.png" alt="ChartPieSlice" width="24" height="24">
        <span>Search</span>
      </a>
      <a class="card" [routerLink]="['/stats']">
        <img class="side-icon" src="assets/icons/statIcon.png" alt="StatIcon" width="24" height="24">
        <span>Statistics</span>
      </a>
    </div>
